.footer-div {
    background-color: rgb(10, 25, 47);
    height: 12vh;
    color: white;
    padding-top: .5em;
    font-family: "SF Mono", "Fira Code", "Fira Mono", "Roboto Mono", "Lucida Console", Monaco, monospace;
    margin-bottom: 0;
    max-width: 100%;
}

.footer-icon-class {
    color: inherit;
}

.footer-icon-class:hover {
    color: rgb(100, 255, 218);
    transform: scale(1.5);
    transition: transform .5s ease;
}

.footer-icons a {
    margin: .4em;
}

.footer-icon {
    font-size: 130%;
}

.footer-div div p span:hover {
    color: rgb(100, 255, 218);
}

@media (min-height: 100vh) {
    #toTop {
        display: block;
        position: fixed;
        top: 91vh;
        right: 10vh;
        z-index: 99;
        border: none;
        outline: none;
      }
      
      .center-con {
        display: flex;
        height: 100vh;
        align-items: center;
        cursor: pointer;
        justify-content: center;
      }
      
      .top-round {
        background: rgb(10, 25, 47);
        position: absolute;
        border: 2px solid #fff;
        width: 40px;
        height: 40px;
        border-radius: 100%;
        transform: rotate(-90deg);
      }
      
      #cta {
        width: 100%;
        cursor: pointer;
        position: absolute;
      }
      
      #cta .arrow {
        left: 30%;
      }
      
      .top-arrow {
        position: absolute;
        bottom: 0;
        margin-left: 0px;
        width: 12px;
        height: 12px;
        background-size: contain;
        top: 13px;
      }
      
      .segunda {
        margin-left: 8px;
      }
      
      .top-arrow {
        background-image: url(data:image/svg+xml;base64,PHN2ZyBpZD0iTGF5ZXJfMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB2aWV3Qm94PSIwIDAgNTEyIDUxMiI+PHN0eWxlPi5zdDB7ZmlsbDojZmZmfTwvc3R5bGU+PHBhdGggY2xhc3M9InN0MCIgZD0iTTMxOS4xIDIxN2MyMC4yIDIwLjIgMTkuOSA1My4yLS42IDczLjdzLTUzLjUgMjAuOC03My43LjZsLTE5MC0xOTBjLTIwLjEtMjAuMi0xOS44LTUzLjIuNy03My43UzEwOSA2LjggMTI5LjEgMjdsMTkwIDE5MHoiLz48cGF0aCBjbGFzcz0ic3QwIiBkPSJNMzE5LjEgMjkwLjVjMjAuMi0yMC4yIDE5LjktNTMuMi0uNi03My43cy01My41LTIwLjgtNzMuNy0uNmwtMTkwIDE5MGMtMjAuMiAyMC4yLTE5LjkgNTMuMi42IDczLjdzNTMuNSAyMC44IDczLjcuNmwxOTAtMTkweiIvPjwvc3ZnPg==);
      }
      
      @keyframes bounceAlpha {
        0% {
          opacity: 1;
          transform: translateX(0px) scale(1);
        }
      
        25% {
          opacity: 0;
          transform: translateX(10px) scale(0.9);
        }
      
        26% {
          opacity: 0;
          transform: translateX(-10px) scale(0.9);
        }
      
        55% {
          opacity: 1;
          transform: translateX(0px) scale(1);
        }
      }
      
      .bounceAlpha {
        animation-name: bounceAlpha;
        animation-duration: 1.4s;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
      }
      
      .arrow.primera.bounceAlpha {
        animation-name: bounceAlpha;
        animation-duration: 1.4s;
        animation-delay: 0.2s;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
      }
      
      .top-round:hover .top-arrow {
        animation-name: bounceAlpha;
        animation-duration: 1.4s;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
      }
      
      .top-round:hover .top-arrow.primera {
        animation-name: bounceAlpha;
        animation-duration: 1.4s;
        animation-delay: 0.2s;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
      }
      
      .bouncing-top-arrow {
        -moz-animation: bounce1 2s infinite;
        -webkit-animation: bounce1 2s infinite;
        animation: bounce1 2s infinite;
      }
    
      @keyframes bounce1 {
        0%, 20%, 50%, 80%, 100% {
          transform: translateY(0);
        }
        40% {
          transform: translateY(-30px);
        }
        60% {
          transform: translateY(-15px);
        }
      }
    
}

