.card {
    background-color: rgb(23, 42, 69);
    color: white;
    padding: 1.5em;
    position: relative;
}

.folder-icon {
    font-size: 2.8em;
    color: rgb(100, 255, 218);
}

.github-icon {
    font-size: x-large;
    float: right;
    color: white;
}

.github-icon:hover {
    color: rgb(100, 255, 218);
}

.project-title {
    margin-top: 1.3em;
    margin-bottom: 0.8em;
}

.single-tag {
    margin-right: 1em;
    font-size: large;
}

.project-desc {
    margin-bottom: 2.5em;
}

.project-tags {
    color: white;
    position: absolute;
    bottom: 1.5em;
}